html{
    font-family: 'Light 300', sans-serif;
    color: rgb(15, 17, 131);
    background-image: linear-gradient(to top right, red, #f06d06);
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    
}
h1{
    background-color: rgb(255, 255, 255);
}
img{
    width:30%;
    height:80%;
    border: 10px;
}
.container{
    display:flex;
    justify-content:center;
}
